<Div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About Us</h1>
      <h1 class="text-center sub-heading">Grow Your Carrer With US</h1>
      <div class="row">
        <div class="col-md-6 col-12 hero-text">
          <figure>
            <img
              class="img-fluid"
              src="images/aboutus.png"
              alt="herosection_images"
            />
          </figure>
        </div>
        {{!Right side}}
        <div
          class="col-md-6 col-12 hero-text d-flex justify-content-start align-items-center flex-column"
        >
          <p>Welcome to<span class="bold-style"> Evolve Interns </span>is well
            renowned for offering internships to people with both technical and
            non-technical backgrounds. We are always willing to assist those who
            sincerely wish to develop their talents, such as Tier-3 college
            students. Due to the lack of many facilities, the majority of Tier-3
            college students are unable to adequately prepare themselves and do
            not graduate job-ready. The major goal is to get those students
            ready so they can accomplish their goals in life. Our goal is to
            grow along with as many people as possible, especially those who are
            constantly eager to learn new things, in order to create the
            greatest possible version of him.</p>
          <br />
          {{! <button class="btn-style btn-primary">Read More</button> }}
          <a href="#" class="btn3">Read More</a>
        </div>
      </div>
    </div>
  </div>
</Div>