<Div class="container-fluid about-style container-fluid-service" id="contactid">
      <h1 class="text-center main-heading">Contact Us</h1>
      <div class="text-center sub-heading">We will be happy to help you.</div>
      <body>
            <div class="container-form">
            <div class="item-form">
              <div class="contact-form">
                <div class="first-text">Lets get in touch.</div>
                <img src="images/contactus.png" class="image-form" />
                <div class="social-links">
                  <span class="second-text">Connect with us.</span>
                  <ul class="social-media">
                    <li>
                      <a href="#"><i class="bx bxl-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="bx bxl-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="bx bxl-youtube"></i></a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/company/evolve-intern/"><i class="bx bxl-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="submit-form">
                <h4 class="third-text text">Contact Us</h4>
                <form action="">
                  <div class="input-box">
                    <input type="text" class="input" required />
                    <label for="">Name:</label>
                  </div>
                  <div class="input-box">
                    <input type="email" class="input" required />
                    <label for="">Email:</label>
                  </div>
                  <div class="input-box">
                    <input type="tel" class="input" required />
                    <label for="">Phone:</label>
                  </div>
                  <div class="input-box">
                    <textarea
                      name=""
                      id="message"
                      cols="30"
                      rows="10"
                      class="input"
                      required
                    ></textarea>
                    <label for="">Message:</label>
                  </div>
                  <input
                    type="submit"
                    class="button-form"
                    value="Send"
                    id="button"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </body>
  </div>
</Div>