<footer class="footer-distributed">
  <div class="footer-left">
    <h3><span>Evolve Intern</span></h3>

    <p class="footer-links">
      <a href="#">Home</a>
      |
      <a href="#aboutid">About</a>
      |
      <a href="#serviceid">Internships</a>
      |
      <a href="#faqid">FAQ</a>
      |
      <a href="#contactid">Contact</a>
    </p>

    <p class="footer-company-name">
      Copyright © 2023
      <strong>Evolve Intern</strong>
      All rights reserved
    </p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Katni</span> Madhaya Pradesh</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+91 9981319158</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p>
        <a
          href="mailto:evolveintern.info@gmail.com"
        >evolveintern.info@gmail.com</a>
      </p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span>About the company</span>
      <strong>Evolve Intern</strong>
      is well renowned for offering internships to people with both technical
      and non-technical backgrounds. We are always willing to assist those who
      sincerely wish to develop their talents, such as Tier-3 college students.
      Due to the lack of many facilities, the majority of Tier-3 college
      students are unable to adequately prepare themselves and do not graduate
      job-ready. The major goal is to get those students ready so they can
      accomplish their goals in life.
    </p>
    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="https://www.linkedin.com/company/evolve-intern/"><i
          class="fa fa-linkedin"
        ></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-youtube"></i></a>
    </div>
  </div>
</footer>