<Div class="container-fluid about-style container-fluid-service" id="serviceid">
    <div class="row">
        <div class="col-md-50 col-12 fullBox">
        <h1 class="text-center main-heading">Internships</h1>
            <div class="text-center sub-heading">What we Provide</div>
                
                    <div class="row gy-5 justify-content-center">
                        <div class="justify-content-center col-12 col-md-5 col-lg-4">
                            <div class="card shadow ">
                                <div class="inner">
                                    <img class="card-img-top " src="images/webdev.webp" alt="Card image cap">  
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Web Development</h5>
                                    <p class="card-text">Web development internship provides you the opportunity to learn how to create, build and maintain any website and apps. This internship will also improve your practical knowledge by doing hands-on projects.</p>
                                    <button onClick="location.href='https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link'" class="btn-stylebox btn-primary">Apply</button>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-center col-12 col-md-5 col-lg-4">
                            <div class="card shadow ">
                                <div class="inner">
                                    <img class="card-img-top " src="images/appdev.webp" alt="Card image cap">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">App Development</h5>
                                    <p class="card-text">App development internship helps you to learn and develop software which will be used for Android devices. This internship also teaches you how to build mobile apps like gaming apps, music apps, learning apps and many more</p>
                                    <button onClick="location.href='https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link'" class="btn-stylebox btn-primary">Apply</button>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-center col-12 col-md-5 col-lg-4">
                            <div class="card shadow ">
                                <div class="inner">
                                    <img class="card-img-top " src="images/softwaredev.webp" alt="Card image cap">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Software Development</h5>
                                    <p class="card-text">Software development internship can provide valuable exposure to the entire software development process, from requirements gathering to deployment, fostering skills in coding, problem-solving and project management.</p>
                                    <button onClick="location.href='https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link'" class="btn-stylebox btn-primary">Apply</button>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-center col-12 col-md-5 col-lg-4">
                            <div class="card shadow ">
                                <div class="inner">
                                    <img class="card-img-top " src="images/uiuxdesign.webp" alt="Card image cap">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">UI/UX Design</h5>
                                    <p class="card-text">This UX/UI internship will teach you how to create a web and mobile designs for e-Commerce web & apps. It will also teach you how to take a client's business objectives and turning them into intuitive, effective designs.</p>
                                    <button onClick="location.href='https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link'" class="btn-stylebox btn-primary">Apply</button>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-center col-12 col-md-5 col-lg-4">
                            <div class="card shadow ">
                                <div class="inner">
                                    <img class="card-img-top " src="images/python.webp" alt="Card image cap">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Python Intern</h5>
                                    <p class="card-text">A Python internship can provide practical experience in building software solutions using a versatile and widely-used programming language, along with the opportunity to work on real-world projects.</p>
                                    <button onClick="location.href='https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link'" class="btn-stylebox btn-primary">Apply</button>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-center col-12 col-md-5 col-lg-4">
                            <div class="card shadow ">
                                <div class="inner">
                                    <img class="card-img-top " src="images/java.webp" alt="Card image cap">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Java Intern</h5>
                                    <p class="card-text">Java internship will teach you how to develop android applications and software by making projects on real world problems. It will also improve your basic knowledge about how to maintain java-based components and interfaces.</p>
                                    <button onClick="location.href='https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link'" class="btn-stylebox btn-primary">Apply</button>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-center col-12 col-md-5 col-lg-4">
                            <div class="card shadow ">
                                <div class="inner">
                                    <img class="card-img-top " src="images/ml.webp" alt="Card image cap">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Machine Learning</h5>
                                    <p class="card-text">Our machine learning internship will offer you to enhance your skills by doing real life example projects. This internship will increase your knowledge in the field of data and algorithms to understand how a machine learns.</p>
                                    <button onClick="location.href='https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link'" class="btn-stylebox btn-primary">Apply</button>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-center col-12 col-md-5 col-lg-4">
                            <div class="card shadow ">
                                <div class="inner">
                                    <img class="card-img-top " src="images/ai.webp" alt="Card image cap">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Artificial Intellogence</h5>
                                    <p class="card-text">Our Artificial intelligence internship will offer you to enhance your skills by doing real life example projects. This internship will also teach you how a machine act like a human by training using Dataset and much more.</p>
                                    <button onClick="location.href='https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link'" class="btn-stylebox btn-primary">Apply</button>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-center col-12 col-md-5 col-lg-4">
                            <div class="card shadow ">
                                <div class="inner">
                                    <img class="card-img-top " src="images/reactjs.webp" alt="Card image cap">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">React Js</h5>
                                    <p class="card-text">A React.js internship can provide hands-on experience in developing web applications using one of the most popular JavaScript libraries, while also gaining exposure to industry best practices.</p>
                                    <button onClick="location.href='https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link'" class="btn-stylebox btn-primary">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</Div>
