<Div class="container-fluid about-style container-fluid-service" id="serviceid">
  <div class="row">
    <div class="service-bg">
      <h1 class="text-center main-heading-service">Internships</h1>
      <div class="text-center sub-heading-service">What we Provide</div>
      <div class="body-card">
        <div class="container-card">
          <div class="card-card">
            <div class="lines-card"></div>
            <div class="imgBx-card">
              <img class="img-card" src="images/webdev.png" />
            </div>
            <div class="content-card">
              <div class="details-card">
                <h2>Web Development</h2>
                <p>
                  Web development internship provides you the opportunity to
                  learn how to create, build and maintain any website and apps.
                  This internship will also improve your practical knowledge by
                  doing hands-on projects.
                </p>
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link"
                >Apply Now</a>
              </div>
            </div>
          </div>
          <div class="card-card">
            <div class="lines-card"></div>
            <div class="imgBx-card">
              <img class="img-card" src="images/appdev.png" />
            </div>
            <div class="content-card">
              <div class="details-card">
                <h2>App Development</h2>
                <p>
                  App development internship helps you to learn and develop
                  software which will be used for Android devices. This will
                  also teaches you how to build mobile apps like gaming apps,
                  music apps, learning apps and many more
                </p>
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link"
                >Apply Now</a>
              </div>
            </div>
          </div>
          <div class="card-card">
            <div class="lines-card"></div>
            <div class="imgBx-card">
              <img class="img-card" src="images/softwaredev.png" />
            </div>
            <div class="content-card">
              <div class="details-card">
                <h2>Software Development</h2>
                <p>
                  Software development internship can provide valuable exposure
                  to the entire software development process, from requirements
                  gathering to deployment, fostering skills in coding,
                  problem-solving and project management.
                </p>
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link"
                >Apply Now</a>
              </div>
            </div>
          </div>
          <div class="card-card">
            <div class="lines-card"></div>
            <div class="imgBx-card">
              <img class="img-card" src="images/uiuxdev.png" />
            </div>
            <div class="content-card">
              <div class="details-card">
                <h2>UI/UX Design</h2>
                <p>
                  This UX/UI internship will teach you how to create a web and
                  mobile designs for e-Commerce web & apps. It will also teach
                  you how to take a client's business objectives and turning
                  them into intuitive, effective designs.
                </p>
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link"
                >Apply Now</a>
              </div>
            </div>
          </div>
          <div class="card-card">
            <div class="lines-card"></div>
            <div class="imgBx-card">
              <img class="img-card" src="images/python.png" />
            </div>
            <div class="content-card">
              <div class="details-card">
                <h2>Python Intern</h2>
                <p>

                  A Python internship can provide practical experience in
                  building software solutions using a versatile and widely-used
                  programming language, along with the opportunity to work on
                  real-world projects and enhance problem-solving skills.
                </p>
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link"
                >Apply Now</a>
              </div>
            </div>
          </div>
          <div class="card-card">
            <div class="lines-card"></div>
            <div class="imgBx-card">
              <img class="img-card" src="images/java.png" />
            </div>
            <div class="content-card">
              <div class="details-card">
                <h2>Java Intern</h2>
                <p>
                  Java internship can provide practical experience in developing
                  robust and scalable applications using a widely-used
                  programming language, along with opportunities to learn
                  industry-standard frameworks.
                </p>
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link"
                >Apply Now</a>
              </div>
            </div>
          </div>
          <div class="card-card">
            <div class="lines-card"></div>
            <div class="imgBx-card">
              <img class="img-card" src="images/ml.png" />
            </div>
            <div class="content-card">
              <div class="details-card">
                <h2>Machine Learning</h2>
                <p>
                  This machine learning internship will offer you to enhance
                  your skills by doing real life example projects. This
                  internship will increase your knowledge in the field of data
                  and algorithms to understand how a machine learns.
                </p>
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link"
                >Apply Now</a>
              </div>
            </div>
          </div>
          <div class="card-card">
            <div class="lines-card"></div>
            <div class="imgBx-card">
              <img class="img-card" src="images/ai.png" />
            </div>
            <div class="content-card">
              <div class="details-card">
                <h2>Artificial Intelligence</h2>
                <p>
                  Our Artificial intelligence internship will offer you to
                  enhance your skills by doing real life example projects. This
                  internship will also teach you how a machine act like a human
                  by training using Dataset and much more.
                </p>
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link"
                >Apply Now</a>
              </div>
            </div>
          </div>
          <div class="card-card">
            <div class="lines-card"></div>
            <div class="imgBx-card">
              <img class="img-card" src="images/reactjs.png" />
            </div>
            <div class="content-card">
              <div class="details-card">
                <h2>React JS</h2>
                <p>
                  A Java internship can provide practical experience in
                  developing robust and scalable applications using a
                  widely-used programming language, along with opportunities to
                  learn industry-standard frameworks.
                </p>
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLScXpLe6v15Pet_AlT6HftawzvAYGYbQirWjlqXAWZQvy5a2hg/viewform?usp=sf_link"
                >Apply Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Div>